:root {
  --primary-color-: #e6e6e6;
  --secondary-color: #808080;
  --secondary-color-hover:#666666;
  --third-color: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

header{
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    color: #fff;
    padding: 2rem;
    font-size: 2.5rem;
}

header svg {
    width: 7rem;
    height: 7rem;
    margin-right: 1rem;
}

main {
    display: flex;
    justify-content: space-between;

}

.projects {
    background-color: var(--secondary-color);
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
}

.projects h2 {
    margin-top: 5rem;
    text-align: center;
    font-size: 3rem;
}

.projects svg {
    width: 5rem;
    height: 5rem;
    /* margin: 2rem auto; */
    cursor: pointer;
}

.addProject{
    display: flex;
    justify-content: space-between;
    width: 55%;
    padding: 0.8rem 1.6rem;
    border: 1px solid white;
    align-items: center;
    margin: 2rem auto;
    font-size: 1.6rem;
    border-radius: 1.6rem;
}

.addProject:hover{
    background-color: #e6e6e6;
}

.todos {
    width: 80%;
    background-color: var(--primary-color-);
}