:root {
  --primary-color-: #e6e6e6;
  --secondary-color: #808080;
  --third-color: #0d0d0d;
  --first--button--: #66b366;
  --first--button--hover: #4da64d;
  --second--button--: #ff6666;
  --second--button--hover: #ff4d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--third-color);
  display: flex;
  align-items: center;
  color: #fff;
  padding: 2rem;
  font-size: 2.5rem;
  height: 20%;
}

header svg {
  width: 7rem;
  height: 7rem;
  margin-right: 1rem;
}

main {
  display: flex;
  justify-content: space-between;
}

.projects {
  background-color: var(--secondary-color);
  width: 20%;
  height: 81.9vh;
  display: flex;
  flex-direction: column;
}

.projects h2 {
  margin-top: 5rem;
  text-align: center;
  font-size: 2.5rem;
}

.projectCheckLogo,
.todoCheckLogo {
  width: 5rem;
  height: 5rem;
}

.addProject {
  display: flex;
  justify-content: space-between;
  width: 55%;
  padding: 0.8rem 1.6rem;
  border: 1px solid white;
  align-items: center;
  margin: 2rem auto;
  font-size: 1.6rem;
  border-radius: 1.6rem;
  cursor: pointer;
}

.addProject:hover {
  background-color: var(--primary-color-);
}

.project {
  width: 70%;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  border-radius: 1.6rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
}

.project button {
  background-color: transparent;
  border-radius: 2rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
}

.project button:hover {
  transform: scale(1.1);
}

.project:hover {
  background-color: var(--primary-color-);
}

.projectIcon {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.inputButtons {
  display: flex;
  width: 100%;
  height: 5.8rem;
  margin: 0.5rem auto;
  justify-content: space-between;
  align-items: center;
}

.inputButtons button {
  cursor: pointer;
  height: 75%;
  width: 40%;
  border-radius: 1.6rem;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.add,
.greenAddTodo {
  background-color: var(--first--button--);
}

.cancel,
.redCancelTodo {
  background-color: var(--second--button--);
}

.add:hover,
.greenAddTodo:hover {
  background-color: var(--first--button--hover);
}

.cancel:hover,
.redCancelTodo:hover {
  background-color: var(--second--button--hover);
}

.projectsInput {
  width: 55%;
  margin: 2rem auto;
}

.projectInput {
  width: 100%;
  margin: 0 auto;
  height: 5.9rem;
  border-radius: 1.6rem;
  font-size: 1.8rem;
  padding-left: 1.6rem;
  border: none;
}

.todos {
  width: 80%;
  background-color: var(--primary-color-);
  padding-left: 25rem;
}

.todos h2 {
  margin-top: 5rem;
  padding-left: 2.5rem;
  font-size: 2.5rem;
}

.addTodo {
  display: flex;
  border: 1px solid black;
  width: 40%;
  margin: 2rem 0;
  border-radius: 1.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.6rem;
}

.addTodo h3 {
  padding-left: 1.6rem;
}

.addTodo:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

footer {
  background-color: var(--third-color);
  font-size: 2rem;
  color: var(--primary-color-);
  text-align: center;
  padding: 1rem;
}

.todoInputs {
  width: 100%;
  /* border: 1px solid black; */
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputDate {
  /* margin-left: 5rem; */
  border-radius: 1.6rem;
  padding: 0.8rem 1.6rem;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
}

.todoInputDiv {
  margin-top: 2rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  height: 10rem;
  border-radius: 1.6rem;
  font-size: 1.6rem;
}

.todoInput {
  height: 100%;
  width: 60%;
  border-radius: 1.6rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  /* border: 1px solid black; */
}

.todoActionInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 1rem;
  height: 50%;
  padding: 1rem 2rem;
  font-size: 1.8rem;
}

.todoActionInformation input {
  width: 60%;
  height: 80%;
  padding-left: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.8rem;
}

.todoAction {
  /* border: 1px solid black; */
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 15rem;
}

.todoActionButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.todoActionButtons button {
  width: 45%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.8rem;
}

.todoActionSave {
  background-color: var(--first--button--);
}
.todoActionSave:hover {
  background-color: var(--first--button--hover);
}

.todoActionDelete {
  background-color: var(--second--button--);
}

.todoActionDelete:hover {
  background-color: var(--second--button--hover);
}

.actionSvg {
  width: 2rem;
  height: 2rem;
}

.todoButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem auto 0;
  height: 45%;
}

.todoButtons button {
  border-radius: 1rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: bold;
  border: none;
  width: 45%;
}

.todoSvg {
  width: 2rem;
  height: 2rem;
}

.todo {
  border: 1px solid black;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.todo:hover,
.todoActionInformation:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color-);
}

.todoTitle {
  width: 35%;
  display: flex;
}
.pTitle {
  margin-right: 1rem;
}

.todo button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
}

.editTodoButton {
  background-color: #66b366;
}

.deleteTodoButton {
  background-color: #ff6666;
}

.editTodoButton:hover {
  background-color: #4da64d;
}
.deleteTodoButton:hover {
  background-color: #ff4d4d;
}

.todoInputButtons {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.hidden {
  display: none;
}

input[type="checkbox"] {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: 0.15rem solid black;
  border-radius: 1rem;
  place-content: center;
}

.projectList {
  margin-top: 5rem;
}

.selected {
  background-color: var(--primary-color-);
}

.todoDate {
  width: 26%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoDate svg {
  width: 2rem;
  height: 2rem;
}

.swal2-popup {
  font-size: 1.8rem !important;
}

.swal2-styled {
  padding: 10px 32px 10px 32px !important;
  margin: 20px 10px 0px 10px !important;
  width: 170px;
  height: 45px;
}
